<section>
    <div class="container-sm">
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-pushpin"></span> Pannel en cours de construction<br />
            Vous pouvez tout de même accéder à ces pages :
            <ul>
                <li><a href="{{ path('admin_product_new') }}">Ajouter un article</a></li>
                <li><a href="{{ path('admin_product_list') }}">Liste des articles</a></li>
            </ul>
        </div>
    </div>
</section>